*.pyc
DS_Store
.DS_Store
*.sqlite3
.env
PyJWT-1.5.2.dist-info
Django-1.11.2.dist-info
PyMySQL-0.7.11.dist-info
certifi
certifi-2017.4.17.dist-info
chardet
chardet-3.0.4.dist-info
django
idna-2.5.dist-info
idna
jwt
oauthlib-2.0.2.dist-info
oauthlib
openid
pip
pip-9.0.1.dist-info
python_openid-2.2.5.dist-info
pytz-2017.2.dist-info
pytz
pymysql
requests-2.18.1.dist-info
requests
requests_oauthlib-0.8.0.dist-info
requests_oauthlib
six-1.10.0.dist-info
six.py
social_auth_core-1.4.0.dist-info
social_auth_app_django-1.2.0.dist-info
social_core
social_django
static
urllib3-1.21.1.dist-info
urllib3
zappa_settings.json
*.key
*.csr
*.crt
pyfiddleexecution/main_fiddle.py
env.sh
main_fiddle.py
