{% load static %}
<div id="desktop-header" class="ui text menu">
    <div class="item">
        <a class="brand-logo" href="{% url 'pyfiddleweb:home' %}">
            <img src="{% static 'images/python-logo.png' %}">
            <span>Pyfiddle  <span class="version-font"> v 1.2</span></span>
        </a>
    </div>
    <div class="item buttons-group">
        <div>
            <div data-tooltip="Run Fiddle" data-position="bottom right" class="custom-inline-block">
                <button id="run" class="btn-action ui primary button tiny" value="run"><i class="play icon"></i>Run</button>
            </div>
            <div {% if not request.user.is_authenticated %}data-tooltip="Please login to save" {% else %}data-tooltip="Save Fiddle" {% endif %} data-position="bottom right" class="custom-inline-block">
                <button id="save" class="btn-action ui secondary basic button tiny {% if not request.user.is_authenticated %}disabled{% endif %}" value="save"><i class="save icon"></i>Save</button>
            </div>
            <div {% if not request.user.is_authenticated %}data-tooltip="Please login to share" {% else %}data-tooltip="Share Fiddle" {% endif %} data-position="bottom right" class="custom-inline-block">
                <button id="share" class="btn-action ui secondary basic button tiny {% if not request.user.is_authenticated %}disabled{% endif %}" value="share"><i class="share icon"></i>Share</button>
            </div>
            <div {% if not request.user.is_authenticated %}data-tooltip="Please login to star" {% else %}data-tooltip="Bookmark Fiddle" {% endif %} data-position="bottom right" class="custom-inline-block">
                <button id="star" class="btn-action ui secondary basic button tiny {% if not request.user.is_authenticated %}disabled{% endif %}" value="star"><i class="star icon"></i>Bookmark</button>
            </div>
            {% if script %}
            {% if request.user == script.user %}
            <div {% if not request.user.is_authenticated %}data-tooltip="Please login to add collaborator" {% else %}data-tooltip="Add Collaborator" {% endif %} data-position="bottom right" class="custom-inline-block">
                <button id="share" class="btn-action ui secondary basic button tiny {% if not request.user.is_authenticated %}disabled{% endif %}" value="collaborate-modal"><i class="add icon"></i>Collaborator</button>
            </div>
            {% endif %}
            {% endif %}
            {% if request.user.is_authenticated %} {% if request.user == script.user %}
            <div data-tooltip="Delete Fiddle" data-position="bottom right" class="custom-inline-block">
                <button id="delete" style="color:red !important;" class="btn-action ui secondary basic button tiny" value="delete"><i class="trash icon"></i>Delete</button>
            </div>
            {% endif %} {% endif %}
        </div>
    </div>
    <div class="item right">
        <div>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="NZ54SCWMZLSEY">
                <button class="ui secondary button tiny" style="background-color: #0A3582"><i class="payment icon"></i>DONATE PAYPAL</button>
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        <div>
            <button id="api" class="ui secondary button tiny api" style="background-color: #ECAD46"><i class="paper plane icon"></i>API</button>
        </div>
        <div>
            <button id="help" class="ui secondary button tiny help"><i class="help circle icon"></i>Help</button>
        </div>
    </div>
    <div class="ui right dropdown item login-dropdown">
        {% if request.user.is_authenticated %} {{request.user}} {% else %} Login with Github/Google {% endif %}
        <i class="dropdown icon"></i>
        <div class="menu">
            {% if request.user.is_authenticated %}
            <a class="item" href="{% url 'pyfiddleweb:logout' %}">Logout</a> {% else %}
            <a class="item login-button" href="{% url 'social:begin' 'github' %}"><i class="github icon black"></i>Github</a>
            <a class="item login-button" href="{% url 'social:begin' 'google-oauth2' %}"><i class="google icon red"></i>Google</a> {% endif %}
        </div>
    </div>
</div>

<div class="ui help-content modal">
    <div class="header">
        Welcome to Pyfiddle
    </div>
    <div class="content">
        <h3 class="ui header">About Pyfiddle</h3>
        <p>
            PyFiddle is a free lightweight Python IDE to run and share Python scripts with some nifty features, created with love by pythonista Priyank Pulumati
            <a target="_blank" href="https://github.com/priyankcommits"><i class="github icon"></i></a>
            <a target="_blank" href="https://linkedin.com/in/priyankpulumati/"><i class="linkedin icon"></i></a> and <a target="_blank" href="http://beautifulcode.in">Beautiful Code</a>
        </p>
        <div class="ui top attached tabular menu">
            <a class="item" data-tab="shortcuts">Shortcuts</a>
            <a class="item yellow active" data-tab="new">What's New</a>
            <a class="item" data-tab="supports">Supports</a>
            <a class="item" data-tab="limitations">Limitations</a>
            <a class="item" data-tab="upcoming">Upcoming</a>
        </div>

        <div class="ui bottom attached tab segment" data-tab="shortcuts">
            <div class="ui bulleted list">
                <div class="item">Run Fiddle : Control/Command + Enter</div>
                <div class="item">Save Fiddle : Control/Command + S</div>
                <div class="item">Clear Console Output : Control/Command + Backspace</div>
                <div class="item">Text Editor: Default common shortcuts (Select all, copy, paste, undo)</div>
            </div>
        </div>

        <div class="ui bottom attached tab segment active" data-tab="new">
            <div class="ui bulleted list">
                <div class="item">Minor UI Improvements</div>
                <div class="item">Option to switch off notifications</div>
                <div class="item">API endpoint at <b>pyfiddle.io/api/</b></div>
                <div class="item"><b>Please donate, this will help keep Pyfiddle.io maintain the servers</b></div>
            </div>
        </div>

        <div class="ui bottom attached tab segment" data-tab="supports">
            <div class="ui bulleted list">
                <div class="item">Running, Saving and Sharing Fiddles for free</div>
                <div class="item">Pip installation of Packages</div>
                <div class="item">Arguments to scripts</div>
                <div class="item">Program inputs to scripts</div>
                <div class="item">File uploads</div>
            </div>
        </div>

        <div class="ui bottom attached tab segment" data-tab="limitations">
            <div class="ui bulleted list">
                <div class="item">Compute Time: Max of ~ 5 minutes, 1024 MB of RAM</div>
                <div class="item">Pip packages limited to 5 and dont exceed 100mb</div>
                <div class="item">File size upto 1MB per file, upto 10 files</div>
            </div>
        </div>

        <div class="ui bottom attached tab segment" data-tab="upcoming">
            <div class="ui bulleted list">
                <div class="item">Fancier UI with more options</div>
                <div class="item">Interactive Shell</div>
                <div class="item">Subscription model</div>
            </div>
        </div>

        <p><a target="_blank" href="{% url 'pyfiddleweb:privacy' %}">Website Policy</a></p>

    </div>
    <div class="actions">
        <div class="ui button primary deny">Close</div>
    </div>
</div>
<div class="ui api-content modal">
        <div class="header">
            Pyfiddle API
        </div>
        <div class="content">
            <h3 class="ui header">API Usage, send a <b>POST</b> request to <b>pyfiddle.io/api/</b> with JSON data and expect a JSON reponse</h3>
            <div class="ui bulleted list">
                <div class="item">"code" (Required): String</div>
                <div class="item">"version" (Optional): Empty String, if included 3.6 otherwise defaults to 2.7</div>
                <div class="item">"commands" (Optional): Comma seperated (Eg: 1,2,3)</div>
                <div class="item">"inputs" (Optional): Comma seperated (Eg: hello, world)</div>
                <div class="item">"envs" (Optional): Comma seperated (Eg: env1,val1,env2,val2)</div>
            </div>
        <div class="actions">
            <div class="ui button primary deny">Close</div>
        </div>
    </div>
</div>