<ul id="slide-out-right" class="side-nav fixed">
  <div class="col s12">
    <div class="row file-field input-field padding-left-20" style="padding-left:20px !important;padding-top: 20px !important;">
      <div data-position="bottom" data-delay="1000" data-tooltip="Enter Arguments ( Commpa Seperated)" class="tooltipped input-field col s12">
        {{ form.commands }}
        <label class="active" for="commands">Arguments (Comma Seperated)</label>
      </div>
    </div>
  </div>
  <div class="col s12">
    <div class="row file-field input-field padding-left-20" style="padding-left:20px !important;padding-top: 20px !important;">
      <div data-position="bottom" data-delay="1000" data-tooltip="Program Inputs ( Commpa Seperated)" class="tooltipped input-field col s12">
        {{ form.inputs }}
        <label class="active" for="inputs">Program Inputs (Comma Seperated)</label>
      </div>
    </div>
  </div>
  <div class="col s12">
    <div class="row file-field input-field padding-left-20" style="padding-left:20px !important;padding-top: 20px !important;">

      <div data-position="bottom" data-delay="1000" data-tooltip="Name of Pip Pakcages, precompiled only (Max : 5)" class="tooltipped input-field col s12">
        {{ form.packages }}
        <label class="active" for="packages">Pip Packages (Comma Seperated)</label>
      </div>
    </div>
  </div>
  <div>
    <div class="col s12">
      <div class="row file-field input-field padding-left-20" style="padding-left:20px !important;padding-top: 20px !important;">
        {% if request.user.is_authenticated %}
        <div data-position="bottom" data-delay="1000" data-tooltip="Upload file(s) (Max : 10)" class="tooltipped center-align col s6 btn btn-default btn-upload upload">
          <span class="fa fa-upload fa-1x"></span>
          <input form="fiddle_form" name="upload" id="id_upload" type="file" multiple>
        </div>
        <div class="col s12 file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Upload supporting file(s)">
        </div>
        {% else %}
        <div class="tooltipped display-inline" data-position="bottom" data-delay="1000" data-tooltip="Please login to upload file(s)">
          <button class="btn btn-default btn-upload upload disabled"><span class="fa fa-upload fa-1x"></span></button>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col s12">
    <div class="file-heading-chip chip"><span class="fa fa-folder fa-1x">&nbsp;</span>Files for {{script.fiddle_name}}:</div>
    <br>
    <div class="main-chip chip"><span class="fa fa-file fa-1x">&nbsp;</span>main.py (now editing...)</div><br>
    <div id="file-list">
      {% for file in files %}
      <div>
        <div class="file-chip chip"><span class="fa fa-file fa-1x">&nbsp;</span>{{file.name}}</div>
        {% if file.script.user == request.user %}
        <span id="{{file.id}}" name="file_to_delete" class="file_to_delete pointer fa fa-minus-circle fa-1x" value="{{file.name}}">
        </span>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</ul>
<a href="#" data-activates="slide-out-right" class="button-collapse-right"><i class="material-icons">menu</i></a>
